# node specific
node_modules/
npm-debug.log
package-lock.json

# deploy keys
deploy_key
deploy_key.pub

# project specific
coverage/
test/web-platform-tests/
lib/URL.js
lib/URLSearchParams.js
lib/url-state-machine.js
lib/urlencoded.js
lib/utils.js
live-viewer/whatwg-url.js
out/
