name: Build

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: Lint and tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          # Explicitly test minimum Node.js versions. Keep in sync with package.json.
          - 20.19.0
          - 20
          - 22.12.0
          - 22
          - 24.0.0
          - lts/*   # currently 24
          - latest  # currently 25
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run lint
    - run: npm test
